.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.register-form {
    position:fixed;
    width: 700px;
    padding: 50px 80px;
    border: 4px solid white;
    border-radius: 6px;
    z-index: 100;
  }
  
h2 {
    color: white;
    font-size: 50px;
    font-family: Cambria;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
label {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-field {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
.register-button {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: rgb(220, 125, 24);
    color: white;
    cursor: pointer;
    transition: background-color 0.15s;
    margin-bottom: 20px;
  }
  
.register-button:hover {
    background-color: rgb(194, 107, 14);
  }

.register-button:active {
    opacity: 0.7;
  }

.additional-instructions {
    font-size: 20px;
    color: white;
    white-space: nowrap;
    text-align: center;
}

.login-link {
    cursor: pointer;
    transition: text-decoration 0.15s color 0.15s;
}

.login-link:hover {
    text-decoration: underline;
    color: rgb(220, 125, 24);
}