.main-header { 
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 80px;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: transparent;
    margin-top: 20px;
}

.left-header {
    display: flex;
    width: 300px;
}

.middle-header {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px;
    color:white;
    z-index: 100;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.15s;
}

.middle-header:hover {
    color:rgb(220, 125, 24);
}

.project-name {
    font-size: 60px;
    font-weight: 900;
    margin-right: 20px;
}

.right-header {
    display: flex;
    width: 300px;
}


  