*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-background {
    height: 100vh;
    width: 100%;
    background-image: url(/img/login-background.jpg);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}