.editGroupBackButton {
    position: relative;
    font-size: 22px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.groupHeaderContainer {
    display: flex;
    align-items: center;
}

.groupFormHeader_2 {
    font-size: 50px;
    font-weight: 900;
    margin: 35px 0px 35px 0px;
}