.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.info-unauthenticated {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    position: fixed;
    bottom: 80px;
    left: 150px;
    z-index: 2;
}

.info-authenticated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: black;
    background-color: rgba(255, 251, 251, 0.5);
    padding: 50px;
    z-index: 2;
    border-radius: 30px;
}

.info-authenticated p {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 0px;
    margin-bottom: 10px;
}

/*applies to home.js navbar.js*/
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

/*applies to home.js navbar.js*/
.search-bar {
    position: relative;
    width: 460px;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 6px;
}

/*applies to home.js navbar.js*/
.search-icon {
    font-size: 20px;
}

/*applies to home.js navbar.js*/
.search-button {
    border: none;
    cursor: pointer;
}

.home h1 {
    font-size: 100px;
    font-weight: 700;
    margin: 0px;
}

.info-unauthenticated p {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.register-button {
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    width: 160px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.register-button:hover {
    background-color: white;
    color: black;
}

.register-button:active {
    opacity: 0.7;
}

