.search-results-page {
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: white;
    position: relative;
    top: 200px;
    z-index: 2;
    width: 100%;
}

.inactive-button {
    position: relative;
    top: 30px;
    left: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 20px;
    cursor: pointer;
}

.active-button {
    position: relative;
    top: 30px;
    left: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    background-color: rgb(220, 125, 24, 0.8);
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}
